.wrapper
{
	text-align: center;
	align-items: center;
	font-family: "Montserrat", sans-serif;
}

.header{
	color: #6c63ff;
	margin: 20px 0px;
}

.with-80 {
	width: 80% !important;
	margin: 0 auto;
}
.Apply-Button
{
	width: 200px;
	height: 50px !important;
	margin: 30px 25px !important;
	font-size: 1.5rem !important;
}

.Cancle-Button
{
	width: 200px;
	height: 50px !important;
	margin: 25px 25px !important;
	font-size: 1.5rem !important;
}
.table-with {
	width: 80%;
	margin: 0 auto;
}

