.wrapper
{
	text-align: center;
	align-items: center;
	font-family: "Montserrat", sans-serif;
}

.header{
	color: #6c63ff;
	margin: 20px 0px;
}

.with-80 {
	width: 80% !important;
	margin: 0 auto;
}
.Apply-Button
{
	width: 200px;
	height: 50px !important;
	margin: 30px 25px !important;
	font-size: 1.5rem !important;
}

.Cancle-Button
{
	width: 200px;
	height: 50px !important;
	margin: 25px 25px !important;
	font-size: 1.5rem !important;
}
.table-with {
	width: 80%;
	margin: 0 auto;
}
.popupFarms {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    background-color: #55acee;
    border-radius: 10px;
    box-shadow: inset 0 0 10px #55acee;
    padding: 50px;
    width: 500px;
}
.confirm {
	text-align: center;
	margin-top: 20px;
}

.chose__farm {
	position: absolute;
	right: 20px;
	top: 90px;
}