.userManage {
    padding: 20px 80px;
    .header {
        display: flex;
        justify-content: space-between;
    }
}

.userManageDetail {
    padding: 20px 80px;
    .header {
        display: flex;
        justify-content: space-between;
    }
}